root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


# Indentation override for all js and jsx
[*.{js,jsx}]
indent_style = tab
indent_size = 4

# Matches the exact files package.json
[package.json]
indent_style = space
indent_size = 2

# Indentation override for all css and scss
[*.{css,scss}]
indent_style = tab
indent_size = 4
